<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h2>Create new project</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="project-name">Project Name</label>
            <input type="text" id="project-name" class="form-control" aria-describedby="project-name" placeholder="Enter Project Name">
          </div>
          <div class="form-group">
            <label for="project-description">Project Description</label>
            <textarea class="form-control" id="project-description" aria-describedby="project-description" placeholder="Enter Project Description"></textarea>
          </div>
          <!-- Stages -->
          <div class="form-group"><label for="project-stages">Project Stages</label></div>
          <h2>Stages</h2>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{{!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> --}}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="/js/index.js"></script>